In [991]:
import pandas as pd

import re

# Data Tidying and Cleaning Lab
## Reading, tidying and cleaning data. Preparing data for exploration, mining, analysis and learning

In this lab, you'll be working with the Coffee Quality Index dataset, located [here](https://www.kaggle.com/datasets/volpatto/coffee-quality-database-from-cqi). For convenience (and to save trouble in case you can't download files, or someone uploads a newer version), I've provided the dataset in the `data/` folder. The metadata (description) is at the Kaggle link. For this lab, you'll only need `merged_data_cleaned.csv`, as it is the concatenation of the other two datasets.

In this (and the following labs), you'll get several questions and problems. Do your analysis, describe it, use any tools and plots you wish, and answer. You can create any amount of cells you'd like.

Sometimes, the answers will not be unique, and they will depend on how you decide to approach and solve the problem. This is usual - we're doing science after all!

It's a good idea to save your clean dataset after all the work you've done to it.

### Problem 1. Read the dataset (1 point)
This should be self-explanatory. The first column is the index.

In [992]:
coffee_data = pd.read_csv("data/merged_data_cleaned.csv")

In [993]:
coffee_data

,Unnamed: 0,Species,Owner,Country.of.Origin,Farm.Name,Lot.Number,Mill,ICO.Number,Company,Altitude,...,Color,Category.Two.Defects,Expiration,Certification.Body,Certification.Address,Certification.Contact,unit_of_measurement,altitude_low_meters,altitude_high_meters,altitude_mean_meters
0,0,Arabica,metad plc,Ethiopia,metad plc,NaN,metad plc,2014/2015,metad agricultural developmet plc,1950-2200,...,Green,0,"April 3rd, 2016",METAD Agricultural Development plc,309fcf77415a3661ae83e027f7e5f05dad786e44,19fef5a731de2db57d16da10287413f5f99bc2dd,m,1950.0,2200.0,2075.0
1,1,Arabica,metad plc,Ethiopia,metad plc,NaN,metad plc,2014/2015,metad agricultural developmet plc,1950-2200,...,Green,1,"April 3rd, 2016",METAD Agricultural Development plc,309fcf77415a3661ae83e027f7e5f05dad786e44,19fef5a731de2db57d16da10287413f5f99bc2dd,m,1950.0,2200.0,2075.0
2,2,Arabica,grounds for health admin,Guatemala,"san marcos barrancas ""san cristobal cuch",NaN,NaN,NaN,NaN,1600 - 1800 m,...,NaN,0,"May 31st, 2011",Specialty Coffee Association,36d0d00a3724338ba7937c52a378d085f2172daa,0878a7d4b9d35ddbf0fe2ce69a2062cceb45a660,m,1600.0,1800.0,1700.0
3,3,Arabica,yidnekachew dabessa,Ethiopia,yidnekachew dabessa coffee plantation,NaN,wolensu,NaN,yidnekachew debessa coffee plantation,1800-2200,...,Green,2,"March 25th, 2016",METAD Agricultural Development plc,309fcf77415a3661ae83e027f7e5f05dad786e44,19fef5a731de2db57d16da10287413f5f99bc2dd,m,1800.0,2200.0,2000.0
4,4,Arabica,metad plc,Ethiopia,metad plc,NaN,metad plc,2014/2015,metad agricultural developmet plc,1950-2200,...,Green,2,"April 3rd, 2016",METAD Agricultural Development plc,309fcf77415a3661ae83e027f7e5f05dad786e44,19fef5a731de2db57d16da10287413f5f99bc2dd,m,1950.0,2200.0,2075.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1334,1334,Robusta,luis robles,Ecuador,robustasa,Lavado 1,our own lab,NaN,robustasa,NaN,...,Blue-Green,1,"January 18th, 2017",Specialty Coffee Association,ff7c18ad303d4b603ac3f8cff7e611ffc735e720,352d0cf7f3e9be14dad7df644ad65efc27605ae2,m,NaN,NaN,NaN
1335,1335,Robusta,luis robles,Ecuador,robustasa,Lavado 3,own laboratory,NaN,robustasa,40,...,Blue-Green,0,"January 18th, 2017",Specialty Coffee Association,ff7c18ad303d4b603ac3f8cff7e611ffc735e720,352d0cf7f3e9be14dad7df644ad65efc27605ae2,m,40.0,40.0,40.0
1336,1336,Robusta,james moore,United States,fazenda cazengo,NaN,cafe cazengo,NaN,global opportunity fund,795 meters,...,NaN,6,"December 23rd, 2015",Specialty Coffee Association,ff7c18ad303d4b603ac3f8cff7e611ffc735e720,352d0cf7f3e9be14dad7df644ad65efc27605ae2,m,795.0,795.0,795.0
1337,1337,Robusta,cafe politico,India,NaN,NaN,NaN,14-1118-2014-0087,cafe politico,NaN,...,Green,1,"August 25th, 2015",Specialty Coffee Association,ff7c18ad303d4b603ac3f8cff7e611ffc735e720,352d0cf7f3e9be14dad7df644ad65efc27605ae2,m,NaN,NaN,NaN
1338,1338,Robusta,cafe politico,Vietnam,NaN,NaN,NaN,NaN,cafe politico,NaN,...,NaN,9,"August 25th, 2015",Specialty Coffee Association,ff7c18ad303d4b603ac3f8cff7e611ffc735e720,352d0cf7f3e9be14dad7df644ad65efc27605ae2,m,NaN,NaN,NaN

### Problem 2. Observations and features (1 point)
How many observations are there? How many features? Which features are numerical, and which are categorical?

**Note:** Think about the _meaning_, not the data types. The dataset hasn't been thoroughly cleaned.

In [994]:
observations, features = coffee_data.shape

print(f"Observations: {observations}")
print(f"Features: {features}")

Observations: 1339
Features: 44

In [995]:
data_types = coffee_data.dtypes.reset_index() # Convert to DataFrame
data_types = data_types.rename(columns={"index": "feature", 0: "data_type"}) # Rename columns

In [996]:
data_types

                  feature data_type
0              Unnamed: 0     int64
1                 Species    object
2                   Owner    object
3       Country.of.Origin    object
4               Farm.Name    object
5              Lot.Number    object
6                    Mill    object
7              ICO.Number    object
8                 Company    object
9                Altitude    object
10                 Region    object
11               Producer    object
12         Number.of.Bags     int64
13             Bag.Weight    object
14     In.Country.Partner    object
15           Harvest.Year    object
16           Grading.Date    object
17                Owner.1    object
18                Variety    object
19      Processing.Method    object
20                  Aroma   float64
21                 Flavor   float64
22             Aftertaste   float64
23                Acidity   float64
24                   Body   float64
25                Balance   float64
26             Uniformity   float64
27              Clean.Cup   float64
28              Sweetness   float64
29          Cupper.Points   float64
30       Total.Cup.Points   float64
31               Moisture   float64
32   Category.One.Defects     int64
33                Quakers   float64
34                  Color    object
35   Category.Two.Defects     int64
36             Expiration    object
37     Certification.Body    object
38  Certification.Address    object
39  Certification.Contact    object
40    unit_of_measurement    object
41    altitude_low_meters   float64
42   altitude_high_meters   float64
43   altitude_mean_meters   float64

In [997]:
data_types.data_type.value_counts()

data_type
object     24
float64    16
int64       4
Name: count, dtype: int64

In [ ]:
numerical_features = data_types[data_types.data_type != "object"]
numerical_features

                 feature data_type
0             Unnamed: 0     int64
12        Number.of.Bags     int64
20                 Aroma   float64
21                Flavor   float64
22            Aftertaste   float64
23               Acidity   float64
24                  Body   float64
25               Balance   float64
26            Uniformity   float64
27             Clean.Cup   float64
28             Sweetness   float64
29         Cupper.Points   float64
30      Total.Cup.Points   float64
31              Moisture   float64
32  Category.One.Defects     int64
33               Quakers   float64
35  Category.Two.Defects     int64
41   altitude_low_meters   float64
42  altitude_high_meters   float64
43  altitude_mean_meters   float64

In [1026]:
categorical_features = data_types[data_types.data_type == "object"]
categorical_features

                  feature data_type
1                 Species    object
2                   Owner    object
3       Country.of.Origin    object
4               Farm.Name    object
5              Lot.Number    object
6                    Mill    object
7              ICO.Number    object
8                 Company    object
9                Altitude    object
10                 Region    object
11               Producer    object
13             Bag.Weight    object
14     In.Country.Partner    object
15           Harvest.Year    object
16           Grading.Date    object
17                Owner.1    object
18                Variety    object
19      Processing.Method    object
34                  Color    object
36             Expiration    object
37     Certification.Body    object
38  Certification.Address    object
39  Certification.Contact    object
40    unit_of_measurement    object

*Altitude* column has both ranges and just numerical values so it could be divided in two columns. For Example: min_altitude and max_altitude. Both new columns should be numerical. And as we can see, these columns already exist with the names *altitude_low_meters* and *altitude_high_meters*. Therefore *Altitude* might be removed. Ranges and numbers ending with *m*, *meters* and similary are the reason the column is marked as *object* type. There is one more column related to altitude - *altitude_mean_meters* and it can be dropped since it can be calculated.

In [1000]:
print(coffee_data["Altitude"])

0           1950-2200
1           1950-2200
2       1600 - 1800 m
3           1800-2200
4           1950-2200
            ...
1334              NaN
1335               40
1336       795 meters
1337              NaN
1338              NaN
Name: Altitude, Length: 1339, dtype: object

We have similar case with the column *Bag.Weight*

In [1001]:
print(coffee_data["Bag.Weight"])

0       60 kg
1       60 kg
2           1
3       60 kg
4       60 kg
        ...
1334     2 kg
1335     2 kg
1336     1 kg
1337    5 lbs
1338    5 lbs
Name: Bag.Weight, Length: 1339, dtype: object

### Problem 3. Column manipulation (1 point)
Make the column names more Pythonic (which helps with the quality and... aesthetics). Convert column names to `snake_case`, i.e. `species`, `country_of_origin`, `ico_number`, etc. Try to not do it manually.

In [1002]:
def to_snake_case(col_name):
    col_name = col_name.strip()
    col_name = col_name.lower()
    col_name = re.sub(r"[^\w\s]", "_", col_name) # replace non-alphanumeric characters with underscores
    col_name = re.sub(r"\s+", "_", col_name) # regex is used instead of replace to handle multiple spaces
    col_name = re.sub(r"_+", "_", col_name)  # replace multiple underscores with a single underscore
    col_name = col_name.rstrip("_")

    return col_name

In [1003]:
coffee_data.columns = [to_snake_case(c) for c in coffee_data.columns]

In [1004]:
#Change first column name
coffee_data = coffee_data.rename(columns={"unnamed_0": "id"})

In [1005]:
coffee_data.columns

Index(['id', 'species', 'owner', 'country_of_origin', 'farm_name',
       'lot_number', 'mill', 'ico_number', 'company', 'altitude', 'region',
       'producer', 'number_of_bags', 'bag_weight', 'in_country_partner',
       'harvest_year', 'grading_date', 'owner_1', 'variety',
       'processing_method', 'aroma', 'flavor', 'aftertaste', 'acidity', 'body',
       'balance', 'uniformity', 'clean_cup', 'sweetness', 'cupper_points',
       'total_cup_points', 'moisture', 'category_one_defects', 'quakers',
       'color', 'category_two_defects', 'expiration', 'certification_body',
       'certification_address', 'certification_contact', 'unit_of_measurement',
       'altitude_low_meters', 'altitude_high_meters', 'altitude_mean_meters'],
      dtype='object')

### Problem 4. Bag weight (1 point)
What's up with the bag weights? Make all necessary changes to the column values. Don't forget to document your methods and assumptions.

In [1006]:
coffee_data.bag_weight

0       60 kg
1       60 kg
2           1
3       60 kg
4       60 kg
        ...
1334     2 kg
1335     2 kg
1336     1 kg
1337    5 lbs
1338    5 lbs
Name: bag_weight, Length: 1339, dtype: object

In [ ]:
def get_unit(x):
    if pd.isna(x):
        return "missing"
    
    x_str = str(x).strip()
    match = re.search(r"([a-zA-Z,]+)$", x_str)

    return match.group(1) if match else "number_only"

In [1008]:
units = coffee_data.bag_weight.apply(get_unit)
unit_counts = units.value_counts().to_dict()
print(unit_counts)

{'kg': 1196, 'lbs': 114, 'number_only': 27, 'kg,lbs': 2}

As we can see, there are four types of weight values. Let's (try to) use only one - kg. The easiest thing to do is convert lbs to kg.

Let's begin by renaming column *bag_weight* to *bag_weight_kg*

In [1009]:
coffee_data = coffee_data.rename(columns={"bag_weight": "bag_weight_kg"})

In [ ]:
# remove all rows where bag_weight_kg constains "kg,lbs" or only a number without unit
coffee_data = coffee_data[
    ~coffee_data.bag_weight_kg.str.contains(r"kg,lbs$", na=False) & # removes "kg,lbs" unit
    coffee_data.bag_weight_kg.str.contains(r"[a-zA-Z]$", na=False) # removes only number without unit
]

In [ ]:
def lbs_to_kg(x):
    x_str = str(x).strip()
    
    # number extraction
    match = re.search(r"(\d+)", x_str)
    value = float(match.group(1))

    # check unit and convert if necessary
    if "lbs" in x_str.lower():
        return round(value * 0.453592, 2) # lbs -> kg
    else:
        return value

In [1012]:
coffee_data.bag_weight_kg = coffee_data.bag_weight_kg.apply(lbs_to_kg)

In [1013]:
coffee_data = coffee_data[
    coffee_data.bag_weight_kg != 0
]

### Problem 5. Dates (1 point)
This should remind you of problem 4 but it's slightly nastier. Fix the harvest years, document the process.

While you're here, fix the expiration dates, and grading dates. Unlike the other column, these should be dates (`pd.to_datetime()` is your friend).

In [1014]:
def convert_year(value):
    value = str(value).strip()
    
    # Year range pattern
    match_range = re.search(r"(\d{4})\s*[-/]\s*(\d{4})", value)
    if match_range:
        return int(match_range.group(1))

    # Standalone 4-digit numbers
    all_years = re.findall(r"(?<!\d)\d{4}(?!\d)", value)
    if all_years:
        return int(all_years[-1])

    # Trailing digits fallback
    match_end = re.search(r"(\d{2,4})$", value)
    if match_end:
        year_suffix = match_end.group(1)
        if len(year_suffix) == 4:
            return int(year_suffix)
        elif len(year_suffix) == 2:
            return 2000 + int(year_suffix)

    # Return None for text-only values
    return None

In [ ]:
coffee_data.harvest_year = coffee_data.harvest_year.apply(convert_year)
coffee_data = coffee_data.dropna(subset=["harvest_year"])
coffee_data.harvest_year = coffee_data.harvest_year.astype(int)

In [1016]:
coffee_data.harvest_year.value_counts()

harvest_year
2012    354
2014    252
2013    210
2015    157
2016    130
2017     89
2011     36
2010     26
2009      6
2018      1
Name: count, dtype: int64

In [1017]:
print(coffee_data.expiration)
print(coffee_data.grading_date)

0           April 3rd, 2016
1           April 3rd, 2016
3          March 25th, 2016
4           April 3rd, 2016
5       September 3rd, 2014
               ...
1334     January 18th, 2017
1335     January 18th, 2017
1336    December 23rd, 2015
1337      August 25th, 2015
1338      August 25th, 2015
Name: expiration, Length: 1261, dtype: object
0           April 4th, 2015
1           April 4th, 2015
3          March 26th, 2015
4           April 4th, 2015
5       September 3rd, 2013
               ...
1334     January 19th, 2016
1335     January 19th, 2016
1336    December 23rd, 2014
1337      August 25th, 2014
1338      August 25th, 2014
Name: grading_date, Length: 1261, dtype: object

In [ ]:
coffee_data.expiration = pd.to_datetime(coffee_data.expiration, format="mixed")
coffee_data.grading_date = pd.to_datetime(coffee_data.grading_date, format="mixed")

In [1019]:
print(coffee_data.expiration)
print(coffee_data.grading_date)

0      2016-04-03
1      2016-04-03
3      2016-03-25
4      2016-04-03
5      2014-09-03
          ...
1334   2017-01-18
1335   2017-01-18
1336   2015-12-23
1337   2015-08-25
1338   2015-08-25
Name: expiration, Length: 1261, dtype: datetime64[ns]
0      2015-04-04
1      2015-04-04
3      2015-03-26
4      2015-04-04
5      2013-09-03
          ...
1334   2016-01-19
1335   2016-01-19
1336   2014-12-23
1337   2014-08-25
1338   2014-08-25
Name: grading_date, Length: 1261, dtype: datetime64[ns]

### Problem 6. Countries (1 point)
How many coffees are there with unknown countries of origin? What can you do about them?

In [1020]:
coffee_data[coffee_data.country_of_origin.isna()]

Empty DataFrame
Columns: [id, species, owner, country_of_origin, farm_name, lot_number, mill, ico_number, company, altitude, region, producer, number_of_bags, bag_weight_kg, in_country_partner, harvest_year, grading_date, owner_1, variety, processing_method, aroma, flavor, aftertaste, acidity, body, balance, uniformity, clean_cup, sweetness, cupper_points, total_cup_points, moisture, category_one_defects, quakers, color, category_two_defects, expiration, certification_body, certification_address, certification_contact, unit_of_measurement, altitude_low_meters, altitude_high_meters, altitude_mean_meters]
Index: []

[0 rows x 44 columns]

In my case, there aren't any coffees with unknown country. There was one but when I cleared the rows with missing *harvest_year* it got deleted. Should it have remained, I'd probably have deleted it anyways.

### Problem 7. Owners (1 point)
There are two suspicious columns, named `Owner`, and `Owner.1` (they're likely called something different after you solved problem 3). Do something about them. Is there any link to `Producer`?

In [1021]:
coffee_data.owner.value_counts()

owner
juan luis alvarado romero            153
exportadora de cafe condor s.a        54
racafe & cia s.c.a                    51
ipanema coffees                       50
cqi taiwan icp cqiå°ç£åˆä½œå¤¥ä¼´              47
                                    ...
kasozi coffee farmers association      1
nitubaasa ltd                          1
mannya coffee project                  1
yidnekachew dabessa                    1
james moore                            1
Name: count, Length: 306, dtype: int64

In [1022]:
coffee_data.owner_1.value_counts()

owner_1
Juan Luis Alvarado Romero            153
Exportadora de Cafe Condor S.A        54
Racafe & Cia S.C.A                    51
Ipanema Coffees                       50
CQI Taiwan ICP CQIå°ç£åˆä½œå¤¥ä¼´              46
                                    ...
Kasozi Coffee Farmers Association      1
Nitubaasa Ltd                          1
Mannya coffee project                  1
Yidnekachew Dabessa                    1
James Moore                            1
Name: count, Length: 309, dtype: int64

In [1023]:
diff_owners = coffee_data[coffee_data.owner.str.lower() != coffee_data.owner_1.str.lower()]
diff_owners[["owner", "owner_1"]]

                         owner                     owner_1
219                 ceca, s.a.                   CECA,S.A.
364                        NaN                         NaN
459                        NaN                         NaN
602                        NaN                         NaN
848                        NaN                         NaN
882                        NaN                         NaN
919     lin, che-hao krude æž—å“²è±ª    Lin, Che-Hao Krude æž—å“²è±ª\n
975                        NaN                         NaN
1044                       NaN                         NaN
1083  cqi taiwan icp cqiå°ç£åˆä½œå¤¥ä¼´  CQI Taiwan ICP CQIå°ç£åˆä½œå¤¥ä¼´\n

We can safely assume that semantically both columns are identical. The only difference is in the casing, and `lower()` function does not work because of NaN values, punctuation, and CJK symbols. Therefore, we can safely drop either one of the tables. I choose to drop the *owner* and rename *owner_1* to *owner*. *owner_1* contains the original names and we can always convert them to lower if needed.

In [ ]:
coffee_data.drop(columns=["owner"], inplace=True)
coffee_data.rename(columns={"owner_1": "owner"}, inplace=True)

In [1025]:
same_as_producer = coffee_data[coffee_data.owner.str.lower() == coffee_data.producer.str.lower()]
same_as_producer[["owner", "producer"]]

                                  owner                           producer
0                             metad plc                          METAD PLC
1                             metad plc                          METAD PLC
4                             metad plc                          METAD PLC
9                Diamond Enterprise Plc             Diamond Enterprise Plc
22                ROBERTO LICONA FRANCO              ROBERTO LICONA FRANCO
...                                 ...                                ...
1314                             UGACOF                             UGACOF
1315       Katuka Development Trust Ltd       Katuka Development Trust Ltd
1324  Kasozi Coffee Farmers Association  Kasozi coffee farmers Association
1328                 Kawacom Uganda LTD                 Kawacom uganda ltd
1330              Mannya coffee project              Mannya coffee project

[145 rows x 2 columns]

There are some owners that have the same name as the producer so we can assume that some owners also produce.

### Problem 8. Coffee color by country and continent (1 point)
Create a table which shows how many coffees of each color are there in every country. Leave the missing values as they are.

**Note:** If you ask me, countries should be in rows, I prefer long tables much better than wide ones.

Now do the same for continents. You know what continent each country is located in.

### Problem 9. Ratings (1 point)
The columns `Aroma`, `Flavor`, etc., up to `Moisture` represent subjective ratings. Explore them. Show the means and range; draw histograms and / or boxplots as needed. You can even try correlations if you want. What's up with all those ratings?

### Problem 10. High-level errors (1 point)
Check the countries against region names, altitudes, and companies. Are there any discrepancies (e.g. human errors, like a region not matching the country)? Take a look at the (cleaned) altitudes; there has been a lot of preprocessing done to them. Was it done correctly?

### * Problem 11. Clean and explore at will
The dataset claimed to be clean, but we were able to discover a lot of things to fix and do better.

Play around with the data as much as you wish, and if you find variables to tidy up and clean - by all means, do that!